/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 feb 2024, 21:31:31
    Author     : roger
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
    padding: 10px 0;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-container {
    text-align: center;
    margin: 10px;
    width: 30%;
}

img {
    max-width: 50%;
    height: auto;
}


